.mytube {
  position: relative;
  line-height: 0;
}

.mytubetrigger {
  overflow: hidden;
}

.mytubeembedcode {
  display: none;
}

.mytube .mytubethumb {
  cursor: pointer;
}

.mytube .mytubethumb.mytubeactivated {
  cursor: default;
}

.mytube .mytubeplay {
  position: absolute;
  z-index: 5;
  top: 90px;
  left: 135px;
  width: 60px;
  height: 65px;
  cursor: pointer;
}

.mytube .mytubetext {
  margin-top: 3px;
  font-size: 10px;
  line-height: 10px;
}

.mytubehelp {
  cursor: help;
}
