<div class="mytube" style="width: {{ width }}px;">
  <div class="mytubetrigger{% if enable_js_api %} mytube-js-api{% endif %}" tabindex="0">
    <div class="mytubeembedcode">{{ escaped_embed }}</div>
    <img class="mytubethumb" width="{{ width }}" height="{{ img_height }}" alt="mytubethumb" src="{{ thumb }}" style="margin: {{ img_margin }}" />
    <img class="mytubeplay" alt="play" src="{{ play_icon }}" style="top: {{ height / 2 - 30 }}px; left: {{ width / 2 - 30 }}px;" />
  </div>
  <div class="mytubetext">
    <span class="mytube-privacy-text">{{ privacy_text|raw }}</span>
    <span class="mytube-privacy-link">{{ link('Privacy info.'|t, privacy_url, { 'rel': 'noreferrer', 'target': '_blank' }) }}</span>
  </div>
</div>
